* {
  font-family: "roboto", "Shrikhand&display", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

main {
  max-width: 768px;
  width: 100%;
}
main .loader {
  background-color: rgb(253, 253, 253);
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0.5vh;
  z-index: 1;
  animation: disappear 0.5s 1 forwards;
  animation-delay: 3s;
}
main .loader .kitchen {
  font-size: 3em;
  color: rgb(147, 86, 220);
  height: 100%;
  width: 100%;
  position: absolute;
  animation-duration: 3000ms;
  animation: spin 3s linear;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes disappear {
  to {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rgb(147, 86, 220) rgb(153, 226, 208);
  }
  25% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .titre {
  width: 100%;
}
header .titre .logo {
  display: flex;
  width: 100%;
  height: 2.25rem;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
header .titre .arrow {
  position: absolute;
  top: 14px;
  margin: 1rem;
  text-decoration: none;
  color: black;
}
header .arrow {
  display: none;
}
header .formulaire_de_recherche {
  display: flex;
  width: 100%;
  margin-top: 6px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
header .formulaire_de_recherche .point {
  color: rgb(53, 53, 53);
  margin-right: 20px;
}
header .formulaire_de_recherche p {
  font-size: 1rem;
  color: rgb(53, 53, 53);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  padding: 2rem 0;
}
.intro h1 {
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 70px;
}
.intro p {
  font-size: 1.125em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 30px;
  color: rgb(53, 53, 53);
}
.intro .button_resto {
  display: flex;
  justify-content: center;
}
.intro .button_resto .button {
  color: white;
  font-size: 1em;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  cursor: pointer;
}
.intro .button_resto .button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}

nav {
  margin: 40px 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
nav h1 {
  font-size: 1.5rem;
  margin-bottom: 25px;
  width: 335px;
}
nav .placement-nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
nav .choix {
  width: 335px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(246, 246, 246);
}
nav .choix .nbr {
  position: absolute;
  left: -37px;
  width: 24px;
  height: 24px;
  border-style: none;
  border-radius: 24px;
  background-color: rgb(147, 86, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
nav .choix i {
  margin-left: 35px;
  color: rgb(126, 126, 126);
}
nav .choix i.store {
  color: rgb(147, 86, 220);
}
nav .choix p {
  font-weight: bold;
  margin: 28px 25px;
}

.placement-resto {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resto {
  padding: 40px 0px 0px;
  background-color: rgb(246, 246, 246);
}
.resto h1 {
  font-size: 1.5rem;
  margin: 0px 5% 25px;
  padding-top: 30px;
  width: 90%;
}
.resto a {
  width: 100%;
}
.resto .card {
  width: 90%;
  height: 251px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  border-style: none;
  border-radius: 15px;
  background-color: white;
}
.resto .card img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  object-position: center 61%;
  border-radius: 15px 15px 0 0;
}
.resto .card .card-txt {
  margin: 20px;
}
.resto .card h2 {
  font-size: 1.25rem;
  font-weight: bold;
  height: auto;
  width: 267px;
  color: black;
  display: flex;
  align-self: start;
  margin: 0;
}
.resto .card p {
  font-size: 1.06rem;
  font-weight: 300;
  height: auto;
  width: 267px;
  color: rgb(53, 53, 53);
  display: flex;
  align-self: start;
  margin: 0;
  padding-top: 5px;
}
.resto .card .card-heart {
  position: absolute;
  left: 85%;
  top: 80%;
  font-size: 1.6rem;
}
.resto .card .card-heart i {
  position: absolute;
  cursor: pointer;
}
.resto .card .card-heart .coeur-plein {
  opacity: 0;
  transition-property: all;
  transition-duration: 200ms;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}
.resto .card .card-heart .coeur-plein:hover {
  opacity: 1;
}
.resto .card .nouveau p {
  position: absolute;
  right: 4%;
  top: 4%;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px rgb(153, 226, 208) solid;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  border-radius: 2px;
  padding: 5px 10px;
  width: auto;
}

footer {
  padding-bottom: 20px;
  width: auto;
  height: auto;
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
  background-color: rgb(53, 53, 53);
  color: white;
}
footer img {
  height: 1.25rem;
  margin: 20px 22px;
}
footer ul {
  list-style-type: none;
  margin: 0 22px;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li.modcourt {
  font-weight: 300;
}
footer ul li.modcourt a {
  font-weight: bold;
}
footer ul li.modlong {
  font-weight: 500;
}
footer ul a {
  color: white;
}
footer ul .couvert {
  padding-right: 16px;
}
footer ul .partenaire {
  padding-right: 10px;
}

/*footer {
    padding-bottom: 20px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color_footer;
    color: white;

    img {
        height: 1.25rem;
        margin: 20px 22px;
    }

    ul {
        list-style-type: none;
        margin: 0 22px;
        padding: 0;

        li {
            margin-bottom: 10px;

            &.modcourt {
                font-weight: 300;
            }

            &.modlong {
                font-weight: 500;
            }
        }

        a {
            color: white;
        }

        .couvert {
            padding-right: 16px;
        }

        .partenaire {
            padding-right: 10px;
        }
    }
}*/
@media screen and (min-width: 769px) {
  main {
    max-width: 1440px;
    width: 100%;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  nav {
    width: 67.5%;
    margin: 40px 0;
    padding: 0 16.25%;
  }
  nav .choix {
    width: 290px;
  }
  .placement-nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .resto {
    width: 75%;
    padding: 0 12.5%;
  }
  .resto .placement-resto {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5%;
  }
  .resto .placement-resto .card {
    width: 45%;
    margin-bottom: 50px;
  }
  footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
  }
  footer.logo__footer {
    padding-right: 56px;
    padding-bottom: 2 px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  footer ul li.modcourt {
    margin-right: 25px;
  }
  footer ul li.modlong {
    margin-right: 40px;
  }
  footer img {
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
