/*.shrikhand-regular {
               font-family: "Shrikhand", serif;
               font-weight: 400;
               font-style: normal;
             } */

* {
font-family:"Shrikhand","roboto", serif;
}

h1{
               color: red;
															font-family: "Shrikhand";
}

img{
  height: 10px;
}